<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="main">
        <p>EDIT BOOK</p>
        <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
        <form method="POST"   >
                <label class ="box1">Tên sách </label>
                <input name="names" value="{{ book.names }}"/>
                <br>
                <label class ="box2">Link ảnh </label>
                <input name="link" value="{{ book.link }}"/>
                <br>    
                <label class ="box3" >Nhà xuất bản</label>
                <input name="nxb" value = "{{ book.nxb }}"/>
                <br>
                <label class ="box4">Số lượng</label>
                <input name="sl" value = "{{ book.sl }}"/>
                <br>
                <label class ="box5">Giá</label>
                <input name="price" value = "{{ book.price }}"/>
                <br>
                    <input type="submit" value="edit"/>
                </p>
            </form>

    </div>
    
</body>
</html>