<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thẻ thư viện</title>
</head>
<body>
        <li role="presentation"><a href="TrangChu">Trang chủ</a>
        </li>
        <form method="post">
                <label>Mã khách hàng:</label><br>
                <input name="ma"><br>
                <label>Tên khách:</label><br>
                <input name="name"><br>
                <label>Số điện thoại:</label><br>
                <input name="phone"><br>
                <label>Giới tính:</label><br>
                <input name="sex"><br>
                <label>Địa chỉ:</label><br>
                <input name="add"><br>
                <p><input type="submit" value="submit"/></p>
            </form>
        
        
            <h1>Danh sách khách hàng đã làm thẻ</h1>
            {% for i in dulieu %}
            
            <h2>{{ i.ma }} : {{ i.name }}</h2>
            
            {% endfor %} 
</body>
</html>