<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
        <div class="container">
                <div class="header">
                    <nav>
                        <ul class="nav nav-pills pull-right">
                            <li role="presentation" class="active"><a href="#">Home</a>
                            </li>
                            <li role="presentation"><a href="AddCardUser">Add Card For New User</a>
                            </li>
                            <li role="presentation"><a href="AddDataBook">Add Data Book</a>
                            </li>
                        </ul>
                    </nav>

</body>
</html>