<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        
                <form action=”xulydangky.htm1” method=”post”>
                <table width=”400” border=”2” cellpadding=”5” align=”center”›
                ‹tr>
                <th colspan="2">>ÐĐĂNG KÝ</th>
                </tr>
                
                <tr>
                <td></td>Full name</td>
                <td>
                <input type="text” name="fname” size="39" placeholder="Nhập fullname">
                </td>
                </tr>
                
                <tr>
                <td>Username</td>
                <td>
                <input type="text” name="user” size="30" placeholder="Nhập tên">
                </td>
                </tr>
                
                <tr>
                <td>Password</td>
                <td></td>
                <input type="password” name="pass" size="" placeholder="Nhập mật khẩu">
                </td>
                </tr>
                
                <tr>
                 ‹td›Nhập lại Password</td>
    
</body>
</html>